In [1]:
l=["Aman","data science",1,4,"krutanic"]
l=tuple(l)
print(l)

('Aman', 'data science', 1, 4, 'krutanic')

In [9]:
my_list = [1, 2, 2, 3, 3, 3, 4]
my_set = set(my_list)
print(my_set)   #  {1, 2, 3, 4}

{1, 2, 3, 4}

In [8]:
empty = {}
print(type(empty))  #<class 'dict'>

<class 'dict'>

In [4]:
empty_set = set()
print(type(empty_set))  #<class 'set'>

<class 'set'>

In [10]:
my_dict={str(x): 0 for x in range(1, 6)}
print(my_dict)

{'1': 0, '2': 0, '3': 0, '4': 0, '5': 0}

In [11]:
# The in operator works on tuples and sets.
my_set = {1, 2, 3}
print(2 in my_set)  
print(4 in my_set)

True
False